:root {
  --wrap-padding: calc(9.6vh - 17px) /*7.33vh*/ /*55px*/;
  --row-head-height: 11.33vh /*85px*/;
  --row-foot-height: 13.33vh /*100px*/;
}

@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 700;
  src: local("Bebas Neue"), local("Bebas Neue Bold"), url("../fonts/bebas_neue_bold.woff2") format("woff2");
}

/* GLOBAL
====================================================================== */

*,
*::before, *:before,
*::after, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  font: normal 400 16px/1 "Bebas Neue", "Arial Narrow", sans-serif;
  color: #2d1c03;
  text-transform: uppercase;

  background-color: #ffffff;

  /*min-width: 100vh;*/
  /*outline: 5px solid red;*/
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;
  border: 0;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
}

.input-reset {
  font: inherit;
  text-transform: inherit;
  color: inherit;

  background-color: transparent;
  border: 0;
}

.btn-reset {
  padding: 0;

  font: inherit;
  text-transform: inherit;
  color: inherit;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.btn-reset:disabled {
  cursor: default;
}

.color {
  color: #fa980d;
}

a:hover .color,
a:focus .color {
  color: #2d1c03;
}


/* CONTENT
====================================================================== */

.page-wrap { outline: 1px solid red;
  display: grid;
  grid-template-columns: minmax(55px, 6.83%/*82px*/) 3.5% /*42px*/ 1fr 4.58% /*var(--wrap-padding)*/;
  grid-template-rows: var(--wrap-padding) 1fr minmax(35px, 9.86vh) /*74px*/;
  width: 100vw;
  max-width: 1200px;
  height: 100vh;
}

.page-wrap::before,
.page-wrap::after {
  content: "";

  grid-column: 1;
  grid-row: 1;

  background-color: #fa980d;
}

.page-wrap::after {
  grid-column: 1;
  grid-row: 3;
}

/* HEADER
====================================================================== */

.page-header {
  grid-row: 2;
  display: grid;
  grid-template-columns: minmax(30px, 1fr) minmax(25px, 41.46%) /*34px*/;
  grid-template-rows: 1fr minmax(40px, var(--row-foot-height));
  justify-items: end;

  background-color: #fa980d;
}

/* search
============================== */

.search {
  grid-column: 1;
  grid-row: 2;
  align-self: end;
}

.search__label {
  position: relative;

  display: block;
  width: 30px;
  height: 30px;
  margin: -7px;
}

.search__input {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;

  width: 30px;
  height: 30px;
  padding: 7px 7px 7px 30px;

  background: url("../img/icon-search.svg") 5px 5px no-repeat;
  background-size: 16px auto;

  cursor: pointer;
}

.search__input:focus {
  width: 300px;

  background-color: rgba(0, 0, 0, 0.2);
  cursor: default;
}

/* =========================== */

.main-nav {
  position: relative;

  grid-column: 1/3;
  grid-row: 1;
  display: grid;
  grid-template-columns: minmax(30px, 1fr) minmax(25px, 41.46%) /*34px*/;
  grid-template-rows: minmax(40px, var(--row-head-height)) 1fr;
  justify-items: end;
  width: 100%;
}

.main-nav__title {
  overflow: hidden;

  grid-column: 1;
  grid-row: 2;
  justify-self: end;
  align-self: center;

  width: 1em;
  margin: 0;

  font-size: calc(1.4vh + 16px) /*25px*/;
  color: #ffffff;
}

.main-nav__title-inner {
  display: inline-block;

  white-space: nowrap;

  transform: translate(0,100%) rotate(-90deg);
  transform-origin: 0 0;
}

.main-nav__title-inner::after {
   content: "";

   float: left;
   margin-top: 100%;
}

/* toggle
============================== */

.main-nav__toggle {
  position: relative;

  grid-column: 2;
  grid-row: 2;
  width: 100%;
  height: 100%;
}

.main-nav__toggle:hover,
.main-nav__toggle:focus,
.main-nav__toggle--opened {
  background-color: rgba(255, 255, 255, 0.2);
}

.main-nav__toggle::after {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;

  width: 10px;
  height: 16px;
  margin-left: -5px;
  margin-top: -8px;

  background: url("../img/icon-arrow.svg") 0 0 no-repeat;

  transition: all 1s;
}

.main-nav__toggle--opened::after {
  transform: rotate(180deg);
}

/* site-nav
============================== */

@keyframes move {
 from {left: 0; opacity: 0.5;}
 to {left: 100%; opacity: 1;}
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-nav {
  position: absolute;
  left: 100%;
  top: var(--row-head-height);
  z-index: 100;

  display: none;
  height: calc(100% - var(--row-head-height));
  padding: 10px 70%;

  font-size: calc(1.4vh + 16px) /*25px*/;
  text-align: center;

  background-color: #fa980d;
}

.site-nav.nojs,
.site-nav--opened {
  display: flex;
  flex-direction: column;
  justify-content: center;

  animation: move 1s;
}

.site-nav__item:not(:first-child) {
  margin-top: 20px;
}

.site-nav__link {
  color: #ffffff;
  white-space: nowrap;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: #2d1c03;
}

.user-nav {
  grid-column: 1;
  grid-row: 1;
}

/*@media (min-width: 880px) {*/
  .user-nav__item--cart {
  margin-right: 10px;
  }
/*}*/

.user-nav__link {
  color: #ffffff;
}

.user-nav__link--cart {
  position: relative;

  display: inline-block;
}

.user-nav__link--cart::after {
  content: "";

  position: absolute;
  right: -10px;
  top: 2px;

  width: 17px;
  height: 15px;

  background: url("../img/icon-cart.png") 0 0 no-repeat;
}

.user-nav__cart-count {
  position: relative;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;

  font-size: 12px;

  background-color: #2d1c03;
  border-radius: 50%;
}


/* CONTENT
====================================================================== */

.page-main {
  position: relative;

  grid-column: 3;
  grid-row: 2;
  display: grid;
  grid-template-columns: 40% /*450px*/ auto 40% /*450px*/;
  grid-template-rows: minmax(40px, var(--row-head-height)) 1fr;
  align-items: start;
}

.page-main__title {
  grid-column: 1;
  grid-row: 1;
  margin: 0;

  font-size: calc(2.4vh + 16px) /*34px*/;
}

.watch-video {
  position: relative;

  grid-column: 3;
  grid-row: 1;
  justify-self: end;
  display: inline-flex;
  align-items: center;
  height: calc(3.6vh + 20px) /*47px*/;
  margin-top: 5px;
  padding-right: calc(3.6vh + 20px + 15px) /*62px*/;

  color: #2d1c03;
}

.watch-video::before,
.watch-video::after {
  content: "";

  position: absolute;
  right: 0;
  top: 0;

  width: calc(3.6vh + 20px) /*47px*/;
  height: calc(3.6vh + 20px) /*47px*/;

  background-color: #fa980d;
  border-radius: 50%;
}

.watch-video::after {
  margin-right: -2px;

  background: url("../img/icon-arrow.svg") 50% 50% no-repeat;
}

.watch-video:hover,
.watch-video:focus {
  color: #fa980d;
}

.watch-video:hover::before {
  background-color: #2d1c03;
}

/* Showcace
================================================== */

.showcase {
  position: relative;

  grid-column: 1/4;
  grid-row: 2;
  height: 100%;
}

/* product
============================== */

.product {
  position: relative;

  display: grid;
  grid-template-columns: minmax(70px, 8.33%) 1fr minmax(70px, 8.33%);
  grid-template-rows: 1fr var(--row-foot-height);
  align-items: center;
  height: 100%;
}

.product__img {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  align-self: center;
  /*width: 96.53vh;
  max-height: 56.4vh;*/
  margin: 0;

  text-align: center;
}

.product__price {
  grid-column: 1;
  grid-row: 2;
}

.product__link {
  position: relative;

  grid-column: 3;
  grid-row: 2;
  justify-self: end;
  padding-right: 2vw;

  color: #2d1c03;
}

.product__link::after {
  content: "";

  position: absolute;
  top: 50%;
  right: 0;

  width: 6px;
  height: 10px;
  margin-top: -5px;

  background: url("../img/icon-arrow-small.svg") 0 0 no-repeat;
}

.product__link--buy {
  position: absolute;

  grid-row: 1;
  align-self: start;

  display: none;
}

.product:hover .product__link--buy {
  display: flex;
}

.product__link:hover,
.product__link:focus {
  color: #fa980d;
}

/* showcase-navigation
============================== */

.showcase-nav__number {
  position: absolute;
  left: 50%;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px /*100px*/;
  height: var(--row-head-height);
  margin: calc(var(--row-head-height) * -1) /*-85px*/ 0 0 -35px /*-50px*/;

  font-size: calc(2.4vh + 16px) /*34px*/;
  text-align: center;
}

.showcase-nav__number-count {
  font-size: calc(0.4vh + 15px) /*18px*/;
}

.showcase-nav__list {
  position: absolute;
  bottom: 1.33vh;
  left: 12% /*100px*/;
  right: 12% /*100px*/;

  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0 /*9%*/;

  background: url("../img/nav-path.svg") 50% 40% no-repeat;
  /*background-size: 100% auto;*/

  list-style: none;
}

.showcase-nav__list::before {
  content: "";

  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  background: url("../img/nav-path-active.svg") 50% 40% no-repeat;
  /*background-size: 100% auto;*/
  clip-path: polygon(0% 0%, 0% 100%, 40% 100%, 40% 0%);
}

.showcase-nav__item {
  z-index: 10;

  width: calc(3.77% + 30px) /*61px*/;
  /*height: 7.42%;*/

  text-align: center;
}

.showcase-nav__item:not(:first-child) {
  margin-left: 4.2% /*50px*/;
}

.showcase-nav__item:nth-child(3) {
  margin-top: -0.66vh /*-5px*/;
}

.showcase-nav__item:nth-child(4) {
  margin-top: 1.33vh /*10px*/;
}

.showcase-nav__item--active {
  width: calc(5.11% + 40px) /*82px*/;
  /*height: 10%;*/
}

.showcase-nav__link {
  display: block;

  background-color: #ffffff;

  border: 2px solid #d0d0cf;
  border-radius: 50%;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.13);
}

.showcase-nav__link--prev,
.showcase-nav__link--active,
.showcase-nav__link:hover,
.showcase-nav__link:focus {
  border-color: #fa980d;
}

.showcase-nav__btn {
  position: absolute;
  left: 0;
  top: 28.4vh /*213px*/;

  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(1.6vh + 26px) /*38px*/;
  height: calc(1.6vh + 26px) /*38px*/;

  margin-top: -19px;

  border-radius: 50%;
  border: 2px solid #fa980d;
}

.showcase-nav__btn--next {
  left: auto;
  right: 0;

  transform: rotate(180deg);
}

.showcase-nav__btn:hover,
.showcase-nav__btn:focus {
  border-color: #2d1c03;
}

.showcase-nav__btn:hover .showcase-nav__btn-img line,
.showcase-nav__btn:hover .showcase-nav__btn-img polyline,
.showcase-nav__btn:focus .showcase-nav__btn-img line,
.showcase-nav__btn:focus .showcase-nav__btn-img polyline {
  stroke: #2d1c03;
}

.showcase-nav__btn:disabled {
  border-color: #d0d0cf;
}

.showcase-nav__btn:disabled .showcase-nav__btn-img line,
.showcase-nav__btn:disabled .showcase-nav__btn-img polyline {
  stroke: #d0d0cf;
}


/* FOOTER
====================================================================== */

.page-footer {
  grid-column: 3;
  grid-row: 3;
  padding: 3.33vh /*25px*/ 0 0;
}

.copyright {
  margin: 0;

  font-size: calc(0.4vh + 11px) /*14px*/;
  text-align: center;
}

.copyright__link:hover,
.copyright__link:focus {
  color: #2d1c03;
}
