@media (max-width: 750px) and (orientation: portrait) {

  /* CONTENT
  ====================================================================== */

  .page-wrap {
    grid-template-columns: 55px 1fr 55px;
    grid-template-rows: minmax(70px, 10.93%) 42px 1fr 74px;
    /*min-height: 100vh;*/
    width: 750px;
  }

  .page-wrap::after {
    grid-column: 3;
    grid-row: 1;
  }

  /* HEADER
  ====================================================================== */

  .page-header {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: minmax(40px, 1fr) minmax(30px, 34px);
    justify-items: start;
    align-items: end;
  }

  /* search
  ============================== */

  .search {
    grid-column: 1;
    grid-row: 1;
  }

  .search__label {
    margin: -5px;
  }
/*
  .search__input {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;

    width: 30px;
    height: 30px;
    padding: 7px 7px 7px 30px;

    background: url("../img/icon-search.svg") 5px 5px no-repeat;
    background-size: 16px auto;

    cursor: pointer;
  }*/

  .search__input:focus {
    width: 280px;
  }

  /* =========================== */

  .main-nav {
    grid-column: 2;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr 85px;
    grid-template-rows: minmax(40px, 1fr) minmax(30px, 34px);
    align-items: end;
  }

  .main-nav__title {
    overflow: visible;

    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    align-self: end;

    width: auto;

    font-size: 25px;
  }

  .main-nav__title-inner {
    transform: none;
  }

  .main-nav__title-inner::after {
     content: "";

     float: none;
     margin-top: 0;
  }

  /* toggle
  ============================== */

  .main-nav__toggle {
    grid-column: 1;
    grid-row: 2;
  }

  .main-nav__toggle::after {
    transform: rotate(90deg);
  }

  .main-nav__toggle--opened::after {
    transform: rotate(270deg);
  }

  /* site-nav
  ============================== */

  @keyframes move {
   from {top: 0; opacity: 0.5;}
   to {top: 100%; opacity: 1;}
  }

  .site-nav {
    left: 0;
    top: 100%;

    width: calc(100% - 85px);
    height: auto;
    padding: 55px 55px;

    font-size: 25px;
  }

  .user-nav {
    grid-column: 2;
    grid-row: 1;
  }


  /* CONTENT
  ====================================================================== */

  .page-main {
    grid-column: 2;
    grid-row: 3;
    display: grid;
    grid-template-columns: 40% /*450px*/ auto 40% /*450px*/;
    grid-template-rows: 85px 1fr;
  }

  .page-main__title {
    font-size: 34px;
  }

  .watch-video {
    height: 47px;
    padding-right: 62px;
  }

  .watch-video::before,
  .watch-video::after {
    width: 47px;
    height: 47px;
  }

  /* Showcace
  ================================================== */

  .showcase {
  }

  /* product
  ============================== */

  .product {
    grid-template-columns: minmax(70px, 12.5%) 1fr minmax(70px, 12.5%);
    grid-template-rows: 1fr 100px;
  }

  .product__img {
    grid-column: 1/4;
    grid-row: 1;
    /*width: 96.53vh;
    max-height: 56.4vh;*/
  }

  .product__link {
    padding-right: 15px;
  }

  /* showcase-navigation
  ============================== */

  .showcase-nav__number {
    width: 70px;
    height: 85px;
    margin: -85px 0 0 -35px;

    font-size: 34px;
  }

  .showcase-nav__number-count {
    font-size: 18px;
  }

  .showcase-nav__list {
    bottom: 10px;
    left: 70px;
    right: 70px;

    background-size: 100% auto;
  }

  .showcase-nav__list::before {
    background-size: 100% auto;
  }

  .showcase-nav__item {
    width: 61px;
  }

  .showcase-nav__item--active {
    width: 82px;
  }

  .showcase-nav__item:not(:first-child) {
    margin-left: 7%;
  }

  .showcase-nav__item:nth-child(3) {
    margin-top: -5px;
  }

  .showcase-nav__item:nth-child(4) {
    margin-top: 10px;
  }

  .showcase-nav__btn {
    position: absolute;
    left: -45px;
    top: 213px;

    width: 38px;
    height: 38px;

    margin-top: -19px;
  }

  .showcase-nav__btn--next {
    left: auto;
    right: -45px;
  }


  /* FOOTER
  ====================================================================== */

  .page-footer {
    grid-column: 2;
    grid-row: 4;
    padding: 25px 0 0;
  }

  .copyright {
    font-size: 14px;
  }

}