@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 700;
  src: local("Bebas Neue"), local("Bebas Neue Bold"), url("../fonts/bebas_neue_bold.woff2") format("woff2");
}

/* GLOBAL
====================================================================== */

*,
*::before, *:before,
*::after, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font: normal 400 16px/1 "Bebas Neue", "Arial Narrow", sans-serif;
  color: #2d1c03;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;
  border: 0;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
}

.input-reset {
  font: inherit;
  text-transform: inherit;
  color: inherit;

  background-color: transparent;
  border: 0;
}

.btn-reset {
  padding: 0;

  font: inherit;
  text-transform: inherit;
  color: inherit;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.btn-reset:disabled {
  cursor: default;
}

.color {
  color: #fa980d;
}

.page-wrap {
  display: grid;
  grid-template-rows: auto 1fr auto;
  /*width: 750px;*/
  width: 320px;
  min-height: 100vh;
  margin: 0 auto;
}

/* HEADER
====================================================================== */

.page-header {
  position: relative;

  /*display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 33px;
  align-items: end;*/
  padding: 30px 6% 0;

  background-color: #fa980d;
}

/* search
============================== */

.search {
}

.search__input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 5px 5px 5px 34px;

  background: rgba(255, 255, 255, 0.2) url("../img/icon-search.svg") 5px 5px no-repeat;
  background-size: 24px auto;

  outline: 1px solid rgba(255, 255, 255, 0.4);

  cursor: pointer;
}

.search__input:focus {
  cursor: default;
}

/* =========================== */

.main-nav {
  display: grid;
  grid-template-rows: auto auto 33px;
  align-items: end;

  margin-top: 30px;
}

.main-nav__title {
  margin: 0;

  font-size: 25px;
  color: #ffffff;
  text-align: center;
}

.main-nav__btn {
  position: relative;

  width: 100%;
  height: 100%;
}

.main-nav__btn:hover,
.main-nav__btn:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.main-nav__btn::after {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;

  width: 12px;
  height: 16px;
  margin-left: -6px;
  margin-top: -8px;

  background: url("../img/icon-arrow.svg") 0 0 no-repeat;
  transform: rotate(90deg);
}

.main-nav__btn--close::after {
  transform: rotate(-90deg);
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-nav {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 100;

  display: none;
  width: 100%;
  padding: 15px 50px 20px;

  text-align: center;

  background-color: #fa980d;
}

.show {
  display: block;
}

.site-nav__item {
  margin-top: 10px;
}

.site-nav__link {
  font-size: 25px;
  color: #ffffff;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: #2d1c03;
  text-decoration: underline;
}

.user-nav {
  grid-row: 1/2;
}

.user-nav__item--cart {
  margin-right: 10px;
}

.user-nav__link {
  color: #ffffff;
}

.user-nav__link--cart {
  position: relative;

  display: inline-block;
}

.user-nav__link--cart::after {
  content: "";

  position: absolute;
  right: -10px;
  top: 2px;

  width: 17px;
  height: 15px;

  background: url("../img/icon-cart.png") 0 0 no-repeat;
}

.user-nav__cart-count {
  position: relative;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  /*width: 16px;
  height: 16px;

  font-size: 10px;*/

  background-color: #2d1c03;
  border-radius: 50%;
}


/* CONTENT
====================================================================== */

.page-main {
  margin: 30px 6% 20px;
}

.page-main__title {
  margin: 0;

  font-size: 30px;
}

.watch-video {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 47px;
  margin-top: 20px;
  padding-right: 62px;

  color: #2d1c03;
}

.watch-video::before,
.watch-video::after {
  content: "";

  position: absolute;
  right: 0;
  top: 0;

  width: 47px;
  height: 47px;

  background-color: #fa980d;
  border-radius: 50%;
}

.watch-video::after {
  margin-right: -3px;

  background: url("../img/icon-arrow.svg") 50% 50% no-repeat;
}

/* Showcace
================================================== */

.showcase {
  position: relative;
  margin-top: 20px;
  padding-top: 40px;
}

/* product
============================== */

.product {
  position: relative;

  display: grid;
  grid-template-columns: 90px 1fr 90px;
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 50px;
  padding-bottom: 25px;
}

.product__img {
  grid-column: 1/4;
  justify-self: center;
}

.product__price {
  grid-column: 1/2;
}

.product__link {
  position: relative;

  display: inline-block;
  padding-right: 25px;

  color: #2d1c03;
  vertical-align: baseline;
}

.product__link::after {
  content: "";

  position: absolute;
  top: 50%;
  right: 0;

  width: 6px;
  height: 10px;
  margin-top: -5px;

  background: url("../img/icon-arrow-small.svg") 50% 50% no-repeat;
}

.product__link--more {
  grid-column: 3/4;
  justify-self: end;
}

.product__link--buy {
  position: absolute;
  left: 0;
  top: 0;

  display: none;
}

.product:hover .product__link--buy {
  display: block;
}

/* showcase-navigation
============================== */

.showcase-nav {
}

.showcase-nav__number {
  position: absolute;
  left: 50%;
  top: 0;

  width: 100px;
  margin: 0 0 0 -50px;

  font-size: 34px;
  text-align: center;
}

.showcase-nav__number-count {
  font-size: 18px;
}

.showcase-nav__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.showcase-nav__item:nth-child(3) {
  margin-top: -5px;
}

.showcase-nav__item:nth-child(4) {
  margin-top: 10px;
}

.showcase-nav__link {
  display: inline-block;

  vertical-align: baseline;

  background-color: #ffffff;

  border: 2px solid #d0d0cf;
  border-radius: 50%;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.13);
}

.showcase-nav__img {
  min-width: 61px;
  height: auto;
}

.showcase-nav__link--active {
  border-color: #fa980d;
}

.showcase-nav__btn {
  position: absolute;
  left: 0;
  top: 55%;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  margin-top: -19px;

  border: 2px solid #fa980d;
  border-radius: 50%;
}

.showcase-nav__btn--next {
  left: auto;
  right: 0;

  transform: rotate(180deg);
}

.showcase-nav__btn:disabled {
  border-color: #d0d0cf;
}

.showcase-nav__btn:disabled .showcase-nav__btn-img line,
.showcase-nav__btn:disabled .showcase-nav__btn-img polyline {
  stroke: #d0d0cf;
}


/* FOOTER
====================================================================== */

.page-footer {
  padding: 20px 6% 30px;
}

.copyright {
  margin: 0;

  font-size: 14px;
  text-align: center;
}

/*==============================================================================================================================================================================*/

@media screen () {

/* HEADER
====================================================================== */

.page-header {
  position: relative;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 33px;
  align-items: end;
  padding: 0 50px;

  background-color: #fa980d;
}

/* search
============================== */

.search {
  padding-top: 30px;
}

.search__input {
  display: block;
  width: 34px;
  height: 34px;
  margin: -5px;
  padding: 5px 5px 5px 34px;

  background: url("../img/icon-search.svg") 5px 5px no-repeat;
  background-size: 24px auto;

  cursor: pointer;
}

.search__input:focus {
  width: 100%;

  background-color: rgba(255, 255, 255, 0.2);
  outline: 1px solid rgba(255, 255, 255, 0.4);
  cursor: default;
}

/* =========================== */

.main-nav {
  grid-column: 2/4;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 33px;
  align-items: end;

  margin-top: 30px;
}

.main-nav__title {
  margin: 0;

  font-size: 25px;
  color: #ffffff;
  text-align: center;
}

.main-nav__btn {
  position: relative;

  grid-column: 1/2;
  grid-row: 2/3;
  display: block;
  width: 100%;
  height: 100%;
}

.main-nav__btn:hover,
.main-nav__btn:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.main-nav__btn::after {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;

  width: 12px;
  height: 16px;
  margin-left: -6px;
  margin-top: -8px;

  background: url("../img/icon-arrow.svg") 0 0 no-repeat;
  transform: rotate(90deg);
}

.main-nav__btn--close::after {
  transform: rotate(-90deg);
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-nav {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 100;

  display: none;
  width: 100%;
  padding: 15px 50px 20px;

  text-align: center;

  background-color: #fa980d;
}

.show {
  display: block;
}

.site-nav__item {
  margin-top: 4px;
}

.site-nav__link {
  color: #ffffff;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: #2d1c03;
  text-decoration: underline;
}

.user-nav {
  grid-column: 2/3;
  grid-row: 1/2;

  text-align: right;
}

.user-nav__item--cart {
  margin-right: 10px;
}

.user-nav__link {
  color: #ffffff;
}

.user-nav__link--cart {
  position: relative;

  display: inline-block;
}

.user-nav__link--cart::after {
  content: "";

  position: absolute;
  right: -10px;
  top: 2px;

  width: 17px;
  height: 15px;

  background: url("../img/icon-cart.png") 0 0 no-repeat;
}

.user-nav__cart-count {
  position: relative;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  /*width: 16px;
  height: 16px;

  font-size: 10px;*/

  background-color: #2d1c03;
  border-radius: 50%;
}


/* CONTENT
====================================================================== */

.page-main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 50px 20px;
}

.page-main__title {
  margin: 0;

  font-size: 34px;
}

.watch-video {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 47px;
  margin-top: 4px;
  padding-right: 62px;

  color: #2d1c03;
}

.watch-video::before,
.watch-video::after {
  content: "";

  position: absolute;
  right: 0;
  top: 0;

  width: 47px;
  height: 47px;

  background-color: #fa980d;
  border-radius: 50%;
}

.watch-video::after {
  margin-right: -3px;

  background: url("../img/icon-arrow.svg") 50% 50% no-repeat;
}

/* Showcace
================================================== */

.showcase {
  width: 100%;
  margin-top: 20px;
}

/* product
============================== */

.product {
  position: relative;

  display: grid;
  grid-template-columns: 90px 1fr 90px;
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 58px;
  padding-bottom: 25px;
}

.product__img {
  grid-column: 2/3;
  justify-self: center;
}

.product__price {
  grid-column: 1/2;
}

.product__link {
  position: relative;

  display: inline-block;
  padding-right: 25px;

  color: #2d1c03;
  vertical-align: baseline;
}

.product__link::after {
  content: "";

  position: absolute;
  top: 50%;
  right: 0;

  width: 6px;
  height: 10px;
  margin-top: -5px;

  background: url("../img/icon-arrow-small.svg") 50% 50% no-repeat;
}

.product__link--more {
  grid-column: 3/4;
  justify-self: end;
}

.product__link--buy {
  position: absolute;
  left: 0;
  top: 0;

  display: none;
}

.product:hover .product__link--buy {
  display: block;
}

/* showcase-navigation
============================== */

.showcase-nav {
}

.showcase-nav__number {
  position: absolute;
  left: 50%;
  top: 0;

  width: 100px;
  margin: 25px 0 0 -50px;

  font-size: 34px;
  text-align: center;
}

.showcase-nav__number-count {
  font-size: 18px;
}

.showcase-nav__list {
  position: absolute;
  bottom: 0;
  left: 90px;
  right: 90px;

  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;

  background: url("../img/nav-path.svg") 50% 50% no-repeat;

  list-style: none;
}

.showcase-nav__list::before {
  content: "";

  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  background: url("../img/nav-path-active.svg") 50% 50% no-repeat;
  clip-path: polygon(0% 0%, 0% 100%, 40% 100%, 40% 0%);
}

.showcase-nav__item {
  min-width: 61px;

  z-index: 10;
}

.showcase-nav__item:not(:first-child) {
  margin-left: 42px;
}

.showcase-nav__item:nth-child(3) {
  margin-top: -5px;
}

.showcase-nav__item:nth-child(4) {
  margin-top: 10px;
}

.showcase-nav__link {
  display: inline-block;

  vertical-align: baseline;

  background-color: #ffffff;

  border: 2px solid #d0d0cf;
  border-radius: 50%;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.13);
}

.showcase-nav__link--active {
  border-color: #fa980d;
}

.showcase-nav__btn {
  position: absolute;
  left: 0;
  top: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  margin-top: -19px;

  border: 2px solid #fa980d;
  border-radius: 50%;
}

.showcase-nav__btn--next {
  left: auto;
  right: 0;

  transform: rotate(180deg);
}

.showcase-nav__btn:disabled {
  border-color: #d0d0cf;
}

.showcase-nav__btn:disabled .showcase-nav__btn-img line,
.showcase-nav__btn:disabled .showcase-nav__btn-img polyline {
  stroke: #d0d0cf;
}


/* FOOTER
====================================================================== */

.page-footer {
  padding: 23px 60px 35px;
}

.copyright {
  margin: 0;

  font-size: 14px;
  text-align: center;
}

}