@media (orientation: portrait) {

  /* CONTENT
  ====================================================================== */

  .page-wrap {
    -ms-grid-columns: 6vw 1fr 6vw;
        grid-template-columns: 6vw 1fr 6vw;
    -ms-grid-rows: minmax(60px, 10.93vw) 5.6vw 1fr minmax(50px, 9.86vw);
        grid-template-rows: minmax(60px, 10.93vw) 5.6vw 1fr minmax(55px, 9.86vw);
    max-height: 160vw;
  }

  .page-wrap::after {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 1;
    grid-row: 1;
  }

  /* HEADER
  ====================================================================== */

  .page-header {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-columns: 13.33vw 1fr;
        grid-template-columns: 13.33vw 1fr;
    -ms-grid-rows: minmax(35px, 1fr) minmax(25px, 4.53vw);
        grid-template-rows: minmax(35px, 1fr) minmax(25px, 4.53vw);
    justify-items: start;
  }

  /* search
  ============================== */

  .search {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  -ms-grid-column-align: start;
  }

  .search__input:focus {
    width: calc(100vw - 6vw * 2 + 12px);
  }

  /* =========================== */

  .main-nav {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 13.33vw;
        grid-template-columns: 1fr 13.33vw;
    -ms-grid-rows: minmax(35px, 1fr) minmax(25px, 4.53vw);
        grid-template-rows: minmax(35px, 1fr) minmax(25px, 4.53vw);
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }

  .main-nav__title {
    overflow: visible;

    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    width: auto;

    font-size: calc(1.4vw + 16px);
  }

  .main-nav__title-inner {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .main-nav__title-inner::after {
     content: "";

     float: none;
     margin-top: 0;
  }

  /* toggle
  ============================== */

  .main-nav__toggle {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }

  .main-nav__toggle::after {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  .main-nav__toggle--opened::after {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
  }

  /* site-nav
  ============================== */

  @-webkit-keyframes move {
   from {top: 0; opacity: 0.5;}
   to {top: 100%; opacity: 1;}
  }

  @keyframes move {
   from {top: 0; opacity: 0.5;}
   to {top: 100%; opacity: 1;}
  }

  .site-nav {
    left: 0;
    top: 100%;

    width: calc(100% - 13.33vw);
    height: auto;
    padding: 7.33vw;

    font-size: calc(1.4vw + 16px);
  }

  .user-nav {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
  }

  .user-nav__item--cart {
    margin-right: 10px;
  }

  .user-nav__cart-count {
    width: 20px;
    height: 20px;

    font-size: 16px;
  }


  /* CONTENT
  ====================================================================== */

  .page-main {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 3;
    grid-row: 3;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40vw 1fr 40vw;
        grid-template-columns: 40vw 1fr 40vw;
    -ms-grid-rows: minmax(55px, auto) 1fr;
        grid-template-rows: minmax(55px, auto) 1fr;
  }

  .page-main__title {
    font-size: calc(2.4vw + 16px);
  }

  .watch-video {
    height: calc(2.66vw + 27px);
    padding-right: calc(3.6vw + 20px + 15px);
  }

  .watch-video::before,
  .watch-video::after {
    width: calc(2.66vw + 27px);
    height: calc(2.66vw + 27px);
  }

  /* Showcace
  ================================================== */

.showcase {
    padding-top: calc(1.6vw + 26px + 3.12vw * 2);
}

  /* product
  ============================== */

  .product {
    -ms-grid-columns: minmax(75px, 15%) 1fr minmax(75px, 15%);
        grid-template-columns: minmax(75px, 15%) 1fr minmax(75px, 15%);
    -ms-grid-rows: 1fr 12.5vw calc(5.11vw + 45px);
        grid-template-rows: 1fr 12.5vw calc(5.11vw + 45px);
  }

  .product__img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 1;
    grid-row: 1;
  }

  .product__link {
    padding-right: 15px;
  }

  /* showcase-navigation
  ============================== */

  .showcase-nav__number {
    width: 70px;
    height: calc(2.4vw + 16px);
    margin: 3.12vw 0 0 -35px;

    font-size: calc(2.4vw + 16px);
  }

  .showcase-nav__number-count {
    font-size: calc(0.4vw + 15px);
  }

  .showcase-nav__list {
    bottom: 0;
    left: 0;
    right: 0;
  }

  .showcase-nav__item {
    width: calc(3.77vw + 30px);
  }

  .showcase-nav__item--active {
    width: calc(5.11vw + 40px);
  }

  .showcase-nav__item:not(:first-child) {
    margin-left: 5.5vw;
  }

  .showcase-nav__btn {
    position: absolute;
    left: 0;
    top: 0;

    width: calc(1.6vw + 26px);
    height: calc(1.6vw + 26px);

    margin-top: 3.12vw;
  }

  .showcase-nav__btn--next {
    left: auto;
    right: 0;
  }


  /* FOOTER
  ====================================================================== */

  .page-footer {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 4;
    grid-row: 4;
    padding: 4vw 0 0;
  }

  .copyright {
    font-size: calc(0.4vw + 11px);
  }

}



/* === PORTRAIT at 750px === */
/* ========================= */
/* ========================= */

@media (min-width: 750px) and (orientation: portrait) {

  /* CONTENT
  ====================================================================== */

  .page-wrap {
    -ms-grid-columns: 55px 1fr 55px;
        grid-template-columns: 55px 1fr 55px;
    -ms-grid-rows: minmax(70px, 82px) 42px 1fr 74px;
        grid-template-rows: minmax(70px, 82px) 42px 1fr 74px;
    width: 750px;
    max-height: 760px /*757px*/;
  }

  /* HEADER
  ====================================================================== */

  .page-header {
    -ms-grid-columns: 100px 1fr;
        grid-template-columns: 100px 1fr;
    -ms-grid-rows: minmax(40px, 1fr) minmax(30px, 34px);
        grid-template-rows: minmax(40px, 1fr) minmax(30px, 34px);
  }

  /* search
  ============================== */

  .search__input {
    padding: 12px 12px 12px 40px;
    background-size: 16px auto;
  }

  .search__input:focus {
    width: 652px;
  }

  /* =========================== */

  .main-nav {
    -ms-grid-columns: 1fr 100px;
        grid-template-columns: 1fr 100px;
    -ms-grid-rows: minmax(40px, 1fr) minmax(30px, 34px);
        grid-template-rows: minmax(40px, 1fr) minmax(30px, 34px);
  }

  .main-nav__title {
    font-size: 25px;
  }

  /* site-nav
  ============================== */

  .site-nav {
    width: calc(100% - 100px);
    padding: 55px;

    font-size: 25px;
  }

  .user-nav__cart-count {
    width: 16px;
    height: 16px;

    font-size: 12px;
  }


  /* CONTENT
  ====================================================================== */

  .page-main {
    -ms-grid-columns: 40% 1fr 40%;
        grid-template-columns: 40% 1fr 40%;
    -ms-grid-rows: 85px 1fr;
        grid-template-rows: 85px 1fr;
  }

  .page-main__title {
    font-size: 34px;
  }

  .watch-video {
    height: 47px;
    padding-right: 62px;
  }

  .watch-video::before,
  .watch-video::after {
    width: 47px;
    height: 47px;
  }

  /* Showcace
  ================================================== */

.showcase {
  padding-top: 0;
}

  /* product
  ============================== */

  .product {
    -ms-grid-columns: minmax(75px, 15%) 1fr minmax(75px, 15%);
        grid-template-columns: minmax(75px, 13.33%) 1fr minmax(75px, 13.33%);
    -ms-grid-rows: 1fr 100px;
        grid-template-rows: 1fr 100px;
    padding-top: 0;
  }

  /* showcase-navigation
  ============================== */

  .showcase-nav__number {
    height: 85px;
    margin: -85px 0 0 -35px;

    font-size: 34px;
  }

  .showcase-nav__number-count {
    font-size: 18px;
  }

  .showcase-nav__list {
    bottom: 10px;
    left: 13.33%;
    right: 13.33%;
  }

  .showcase-nav__item {
    width: 61px;
  }

  .showcase-nav__item--active {
    width: 82px;
  }

  .showcase-nav__item:not(:first-child) {
    margin-left: 7%;
  }

  .showcase-nav__btn {
    left: -45px;
    top: 50%;

    width: 38px;
    height: 38px;

    margin-top: -19px;
  }

  .showcase-nav__btn--next {
    left: auto;
    right: -45px;
  }


  /* FOOTER
  ====================================================================== */

  .page-footer {
    padding: 25px 0 0;
  }

  .copyright {
    font-size: 14px;
  }

}
