@media (max-width: 749px) and (orientation: portrait) {

  /* CONTENT
  ====================================================================== */

  .page-wrap {
    grid-template-columns: 6vw 1fr 6vw;
    grid-template-rows: minmax(60px, 10.93vw) 5.6vw 1fr minmax(50px, 9.86vw);
  }

  .page-wrap::after {
    grid-column: 3;
    grid-row: 1;
  }

  /* HEADER
  ====================================================================== */

  .page-header {
    grid-column: 2;
    grid-row: 1;
    grid-template-columns: 13.33vw 1fr;
    grid-template-rows: minmax(35px, 1fr) minmax(25px, 4.53vw);
    justify-items: start;
    align-items: end;
  }

  /* search
  ============================== */

  .search {
    grid-column: 1;
    grid-row: 1;
  }

  .search__label {
    margin-left: -5px;
  }

  .search__input {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;

    padding: 7px 7px 7px 34px;

    background-size: 20px auto;
  }

  .search__input:focus {
    width: calc(100vw - 6vw * 2 + 12px);
  }

  /* =========================== */

  .main-nav {
    grid-column: 2;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr 13.33vw;
    grid-template-rows: minmax(35px, 1fr) minmax(25px, 4.53vw);
    align-items: end;
  }

  .main-nav__title {
    overflow: visible;

    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    align-self: end;

    width: auto;

    font-size: calc(1.4vw + 16px) /*25px*/;
  }

  .main-nav__title-inner {
    transform: none;
  }

  .main-nav__title-inner::after {
     content: "";

     float: none;
     margin-top: 0;
  }

  /* toggle
  ============================== */

  .main-nav__toggle {
    grid-column: 1;
    grid-row: 2;
  }

  .main-nav__toggle::after {
    transform: rotate(90deg);
  }

  .main-nav__toggle--opened::after {
    transform: rotate(270deg);
  }

  /* site-nav
  ============================== */

  @keyframes move {
   from {top: 0; opacity: 0.5;}
   to {top: 100%; opacity: 1;}
  }

  .site-nav {
    left: 0;
    top: 100%;

    width: calc(100% - 13.33vw);
    height: auto;
    padding: 7.33vw;

    font-size: calc(1.4vw + 16px) /*25px*/;
  }

  .user-nav {
    grid-column: 2;
    grid-row: 1;
  }

  .user-nav__item--cart {
    margin-right: 10px;
  }

  .user-nav__cart-count {
    width: 20px;
    height: 20px;

    font-size: 16px;
  }


  /* CONTENT
  ====================================================================== */

  .page-main {
    grid-column: 2;
    grid-row: 3;
    display: grid;
    grid-template-columns: 40vw /*450px*/ auto 40vw /*450px*/;
    grid-template-rows: auto 1fr;
  }

  .page-main__title {
    font-size: calc(2.4vw + 16px) /*34px*/;
  }

  .watch-video {
    height: calc(2.66vw + 27px) /*47px*/;
    padding-right: calc(3.6vw + 20px + 15px) /*62px*/;
  }

  .watch-video::before,
  .watch-video::after {
    width: calc(2.66vw + 27px) /*47px*/;
    height: calc(2.66vw + 27px) /*47px*/;
  }

  /* Showcace
  ================================================== */

  .showcase {
  }

  /* product
  ============================== */

  .product {
    grid-template-columns: minmax(71px, 12.5vw) 1fr minmax(71px, 12.5vw);
    grid-template-rows: 1fr 12.5vw calc(5.11vw + 45px);
    padding-top: calc(1.6vw + 26px + 3.12vw * 2);

  }

  .product__img {
    grid-column: 1/4;
    grid-row: 1;
  }

  .product__link {
    padding-right: 15px;
  }

  /* showcase-navigation
  ============================== */

  .showcase-nav__number {
    width: 70px;
    height: calc(2.4vw + 16px);
    margin: 3.12vw 0 0 -35px;

    font-size: calc(2.4vw + 16px) /*34px*/;
  }

  .showcase-nav__number-count {
    font-size: calc(0.4vw + 15px) /*18px*/;
  }

  .showcase-nav__list {
    bottom: 0;
    left: 0px;
    right: 0px;

    background-size: 100% auto;
  }

  .showcase-nav__list::before {
    background-size: 100% auto;
  }

  .showcase-nav__item {
    width: calc(3.77vw + 30px) /*61px*/;
  }

  .showcase-nav__item--active {
    width: calc(5.11vw + 40px) /*82px*/;
  }

  .showcase-nav__item:not(:first-child) {
    margin-left: 4.2vw;
  }

  .showcase-nav__btn {
    position: absolute;
    left: 0;
    top: 0;

  width: calc(1.6vw + 26px) /*38px*/;
  height: calc(1.6vw + 26px) /*38px*/;

    margin-top: 3.12vw;
  }

  .showcase-nav__btn--next {
    left: auto;
    right: 0;
  }


  /* FOOTER
  ====================================================================== */

  .page-footer {
    grid-column: 2;
    grid-row: 4;
    padding: 4vw 0 0;
  }

  .copyright {
    font-size: calc(0.4vw + 11px) /*14px*/;
  }

}